body {
    height: 100vh;
    width: 100vh;
    margin: 0 auto;
    background-color: #E0E0E0;
}

.center {
    height: 100vh;
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:none;
}

.content {
    flex: none;
    text-align: center;
    font-size: 16px;
    margin-block: 20px;
}

.title {
    flex: none;
    text-align: center;
    font-size: 27px;
    margin-block: 30px;
    font-weight:bold;
}

.bottom {
}

.center-line {
    height: 100vh;
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
}

.center-box {
    flex: none;
    width: 350px;
    height:600px;
}

.login-box {
    border-block-start: 2px solid #FFFFFF;
    border-block-end: 2px solid #FFFFFF;
}


.logo {
    width: 100px;
    height: 80px;
    flex: none;
    align-items: start;
}

.head {
    width: 50px;
    height: 50px;
    flex: none;
    display: flex;
    justify-content:end;
    margin-block:100px;
}

.frame {
    width: 100vh;
}

.menu {
    flex:none;
    flex-wrap: wrap;
    display:flex;
}
.item{
    font-size: 30px;
    flex:none;
    align-items:start;
    margin-block:100px;
    margin-left:20px;
    margin-right:20px;
}

